body {
	font-family: 'Arvo', serif;
	color: white;
}

#header {
	height: 150px;
	background-color: black;
}

.spintext {
	color: white;
	font-size: 300%;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	align-items: center;
	margin-top: 50px;
}

.vcenter-links {
	display: inline-block;
	vertical-align: middle;
	float: none;
	align-items: center;
	padding-top: 20px;
}

.smaller {
	font-size: 40%;
}